# Topics:
* Functions
* Control statements
* Object Oriented Programming

## Function to calculate the simple interest

## Function with parameters

In [16]:
def simple_interest(principal, interest_rates, time_period):
    si = principal*interest_rates*time_period/100
    return si

In [2]:
##method 1
my_si = simple_interest(principal=1000, interest_rates=10,time_period=2)
print(my_si)

200.0

In [3]:
##method 2
my_si = simple_interest(1000, 10, 2)
print(my_si)

200.0

In [7]:
def greet():
    print("Hello, welcome to Python!")
greet()

Hello, welcome to Python!

In [11]:
name = "Anny"
def greet_user(name):
    print(f"Hello,{name}!")
greet_user(name)

Hello,Anny!

## Default Parameters

In [1]:
def simple_interest_2(principal, time_period, interest_rates=10):       ##default parameter is defined at last
    si = principal*interest_rates*time_period/100
    return si

In [1]:
def simple_interest_2(principal, time_period, interest_rates=10):       ##default parameter is defined at last
    si = principal*interest_rates*time_period/100
    return si

In [3]:
s1 = simple_interest_2(1000, 2)   ##here interest rate is default and defined earlier, so we don't define it again
                                  ##example for functions with multiple arguments

In [4]:
print(s1)

200.0

In [5]:
s2 = simple_interest_2(1000, 2, 25)  ##here if we want to change the value for interest_rates we redefine it and instead of default value it takes the redefined value which is 25 in this case

In [6]:
print(s2)

500.0

## Function with multiple parameters

## Function which returns a value

In [7]:
def add_numbers(a,b): 
    return a + b

In [8]:
result = add_numbers(5,10)
print("Sum:", result)

Sum: 15

## Function with that returns a value

In [14]:
def simple_interest_2(principal, time_period, interest_rates=10):     ##here instead of using return we use the print statement to print the parameters
    si = principal*interest_rates*time_period/100                     ##previously we stored the value in si and returned it but now we aren't storing it we get the value whenever we call the function and the output is displayed without storing anything in the variable                     
    print(f"Simple interest for Principal=Rs.{principal}, Interest={interest_rates}% and time={time_period} yrs is {si}")

In [15]:
simple_interest_2(2000,3,15)

Simple interest for Principal=Rs.2000, Interest=15% and time=3 yrs is 900.0

## Functions with variable length parameters
## Functions with unlimited number of parameters

In [19]:
def sum_calculator(*numbers):  ## * - like an array of list containg multiple values and can take any number of inputs 
    sum_value = sum(numbers)
    print(f"Sum of {numbers} is {sum_value}")

In [20]:
sum_calculator(1,2,3,4,5)

Sum of (1, 2, 3, 4, 5) is 15

In [21]:
sum_calculator(1,2,3,4,5, 7, 197, 20)

Sum of (1, 2, 3, 4, 5, 7, 197, 20) is 239

## Function with multiple keyword type of arguments

### Working with multiple key value pairs

In [22]:
def display_info(**keywords):                      ## ** -can take any number of key value pairs as inputs
    for key, value in keywords.items():
        print(f"Value for {key} is {value}")

In [23]:
display_info(name="Akash", city="Delhi")

Value for name is Akash
Value for city is Delhi

## Lambda Functions(Anonymous functions)

In [7]:
##normal method
def square(number):
    return number**2

In [8]:
square(5)

25

In [9]:
##using lamda function
square = lambda x:x*x
print(square(5))

25

In [11]:
add = lambda a, b: a+b          ##lambda arguments:expression
print(add(3,7))                 ##used for short functions

10

In [12]:
##simple interestusing lambda function
simple_interest = lambda p, r, t: p*t*r/100

In [13]:
print(simple_interest(2000,10,3))

600.0

## Dictionary of functions

In [14]:
math_function_dic = {                               ##lambda functions can also be a part of key value pairs
    "si":lambda p, r, t: p*r*t/100,                 ##this lambda function in dictionary could be utilized for complex functions too 
    "add":lambda a, b: a+b,
}

In [15]:
print(math_function_dic["si"](2000,10,3))         ##when we are defining the key, si over here, if we do not add "" it will be considered as a variable instead of key so it should be defined like a string

600.0

## Local and Global Variables

In [16]:
def check_num():
    pi = 3.14                ##pi is defined inside the function so it is a local variable and cannot be accessed outside
    print(pi)

In [17]:
check_num()

3.14

In [18]:
print(pi)        ##here pi is not defined outside the function so it cannot be accessed directly

NameError: name 'pi' is not defined

In [20]:
##Global variable
pi = 3.14

In [22]:
def num_print():                         ## in this case pi has been defined globally so it can be accessed anywhere in the program
    print(pi)

In [23]:
num_print()

3.14

In [24]:
print(pi)              ##pi can be defined in a function as well as through a statement as it was defined globally

3.14

## Recursive Function

In [30]:
def factorial(num):                     ##we also need to define an end statement so that we don't end up in an infinite loop causing a crash
    if num == 1:
        return num
    else:
        return num * factorial(num-1)

In [31]:
fact = factorial(6)

In [32]:
print(fact)

720

## Control Statements

### if statement

In [34]:
age = 22
if age>18:
    print("The person is an adult")

The person is an adult

### Else statement

In [35]:
age =10
if age>18:
    print("The person is an adult")
else:
    print("The person is a minor")

The person is a minor

### Elif statement

In [36]:
## used when we have multiple conditions
## if person is in school = 0-18, college = 18-22, or working>22

age = 12
if age>=0 and age<=18:
    print("Person is in school")
elif age>18 and age<=22:
    print("Person is in college")
else:
    print("Person is working")

Person is in school

In [37]:
age = 20
if age>=0 and age<=18:
    print("Person is in school")
elif age>18 and age<=22:
    print("Person is in college")
else:
    print("Person is working")

Person is in college

In [38]:
age = 24
if age>=0 and age<=18:
    print("Person is in school")
elif age>18 and age<=22:
    print("Person is in college")
else:
    print("Person is working")

Person is working

## Switch Statements

In [40]:
##1 = "red", 2 = "black", 3="blue", 4="white"
##switch statement does not exist in python so we either write multiple if else statements or follow the above number method to execute switch cases

## looping  statements              
#### two types:
* for loop

In [41]:
for i in ["Apples","Oranges","Mangoes"]:
    print(i)

Apples
Oranges
Mangoes

In [42]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

## While Loop

In [43]:
num = 1
while num<=5:
    print(num)
    num+=1

1
2
3
4
5

## Break and Continue keywords

In [46]:
for i in range(10):
    if i == 6:
        break;
    print(i)

0
1
2
3
4
5

In [47]:
for i in range(10):
    if i==7:
        continue               ##comes to 7 the continue statement is at work and goes back to the iterstor and continues printing the rest of the numbers leaving 7
    print(i)

0
1
2
3
4
5
6
8
9

## Defining a class, object and its properties

In [12]:
##Person(entity) => properties associated
## name, age, location, employment status 
## if a person is minor or not based on his age 
##creating a class
class Person:                                                         ##class classname:
    def __init__(self, name, age, location, employment):                   ##def __init__(self, parameter1, parameter2, parameter3) 
        self.name = name                                                         ##self.attribute1=parameter1    
        self.age = age                                                           ##self.attribute2=parameter2
        self.location = location                                                 ##self.attribute3=parameter3
        self.employment = employment                                 ##method 
                                                                          ##def method_name(self): 
    def if_minor(self):                                                         ##return self.attribute1
        if self.age>=0 and self.age<=18:
            print("Person is a minor")
        else:
            print("Person is not a minor")

In [13]:
##object instance
p1 = Person("Ramesh",10,"Kanpur","Unemployed")                  ##object name = classname(attribute1, attribute2, attribute3)

In [14]:
print(p1.name)

Ramesh

In [17]:
p1.if_minor()

Person is a minor

In [34]:
class Car:
    def __init__(self, brand, model, year):
        self.brand=brand
        self.model=model
        self.year=year

    def display_info(self):
        return  f"{self.year} {self.brand} {self.model}"

In [35]:
car1 = Car("Toyota", "Corolla", 2022)

In [36]:
print(car1.display_info())

2022 Toyota Corolla

## Encapsulation

In [53]:
##using a private variable

class BankAccount:
    def __init__(self, account_num):
        self.account_num = account_num
        self.__balance = 1000
    def deposit(self, new_amount):
        self.__balance = self.__balance + new_amount
    def show_balance(self):
        print(f"Balance for account num {self.account_num} is Rs. {self.__balance}")

In [54]:
account1 = BankAccount(account_num="12345")

In [55]:
print(account1.account_num)          ##public variable: can be accessed from anywhere

12345

In [56]:
print(account1.__balance)              ##private variable: cannot be accessed directly outside the class

AttributeError: 'BankAccount' object has no attribute '__balance'

In [57]:
account1.show_balance()

Balance for account num 12345 is Rs. 1000

In [58]:
account1.deposit(1000)

In [59]:
account1.show_balance()

Balance for account num 12345 is Rs. 2000